@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
    themes: light --default;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Poetsen+One&display=swap');


.text-style {
    font-family: "Pacifico", cursive;
    font-weight: 900;
    font-style: normal;
}


.text-service {
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* VARIABLES ESTILOS GLOBALES */
:root {
    --color-primary: #ff6600;
    --color-secondary: #000000;
    --color-black: #000000;
    --color-dark: #121212;
    --color-background: #000;
    --color-text-dark: #1a1a1a;
}


/* body {
    font-family: 'Poppins', sans-serif;
} */

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }
}

.animate-float {
    animation: float 4s ease-in-out infinite;
}


/* .animation-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40vh;
    z-index: 50;
    overflow: hidden;
    transform: translateY(-50%);
    background-color: red;
} */

.moto-img {
    width: 270px;
    height: auto;
    position: absolute;
    bottom: 20%;
    z-index: 50;
    animation: moverMoto 2s linear infinite;
    overflow: hidden;
}

@keyframes moverMoto {
    0% {
        left: -30%;
    }

    100% {
        left: 100%;
    }
}


.scrollbar-hidden::-webkit-scrollbar {
    display: none;
}

.scrollbar-hidden {
    -ms-overflow-style: none;
    /* IE 10+ */
    scrollbar-width: none;
    /* Firefox */
}

.blur-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to top, rgb(255, 255, 255), transparent);
    z-index: 1;
}

.titulo-con-sombra,
.subtitulo-con-sombra {
    position: relative;
    display: inline-block;
}

.titulo-con-sombra::before,
.subtitulo-con-sombra::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    /* Fondo negro semi-transparente */
    border-radius: 8px;
    filter: blur(8px);
    z-index: -1;
}


/* en tu archivo CSS */
.animated-bg {
    background-size: 400% 400%;
    background-position: 0% center;
}